@model IEnumerable<DUTAdmin.Models.Student>

@{
    ViewBag.Title = "Index of Students";
}

<h2>Student Index</h2>
@using (Html.BeginForm("Search", "Student", FormMethod.Post))
{
    @Html.TextBox("name")
    <input type="submit" name="submit" value="Search" style="border-bottom-color" />

}

<p>
    @Html.ActionLink("Create New", "CreateStudent")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.StudentPhoto)
        </th>
        <th></th>
    </tr>

    @foreach (var student in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => student.StudentNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.HomeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.IsActive)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => student.StudentPhoto)">@Html.DisplayFor(modelItem => student.StudentPhoto)</a>
            </td>



            <td>
                @Html.ActionLink("Edit", "EditStudent", new { id = student.Id, studentNo = student.StudentNo, studentPhoto = student.StudentPhoto }) |
                @Html.ActionLink("Details", "StudentDetails", new { id = student.Id, studentNo = student.StudentNo, studentPhoto = student.StudentPhoto }) |
                @Html.ActionLink("Delete", "DeleteStudent", new { id = student.Id, studentNo = student.StudentNo, studentPhoto = student.StudentPhoto })
            </td>
        </tr>
    }

</table>
